html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 800px;
    background-color: rgb(55, 54, 54);
    margin: auto;
}

.main {
    margin: auto 20px;
    padding: 10px;
    background-color: whitesmoke;
}

.main__paragraph {
    color: rgb(0, 77, 77);
    font-size: 30px;
}